[submodule "fei"]
	path = fei
	url = https://github.com/PabloArn/fei.git
[submodule "poema"]
	path = poema
	url = https://github.com/PabloArn/poema.git
[submodule "Ecommerce"]
	path = Ecommerce
	url = https://github.com/PabloArn/Ecommerce.git
